$pb: #2e2930;
$bg_grey: #f0f0f0;
@mixin flex ($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
  .wrap {
    //position: relative;
    #g-lt {
      position: relative;
      //top: 0;
      //left: 0;
      z-index: 777;
      float: left;
      margin-right: -300px;
      width: 300px;
      height: 100vh;
      background: $pb;
      ul {
        li {
          margin: {
            top: 10px;
            left: 80px;
          }
          height: 40px;
          line-height: 40px;
          text-align: left;
          font-size: 24px;
          color: #fff;
          a {
            text-decoration: none;
            color: #fff !important;
          }
        }
        .g-hd-lt {
          margin: 0;
          text-align: center;
          border-bottom: 1px solid #fff;
        }
        #table {
          margin-left: 100px;
        }
      }
    }
    .g-rt {
      float: right;
      width: 100%;
      .g-in {
        margin-left: 300px;
        .g-hd-rt {
          padding: 14px 0;
          height: 40px;
          border-bottom: 1px solid $bg_grey;
          span {
            float: right;
            padding: 0 10px;
            line-height: 12px;
            font-size: 12px;
            border-right: 1px solid #000;
          }
          .f-icon-2 {
            border: none;
          }
        }
        p {
          margin: 40px {
            left: 10px;
            right: 0;
            bottom: 0;
          }
          font-size: 42px;
          color: #000;
        }
      }
    }
  }
