@charset "UTF-8";
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 100%;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  min-height: 1px;
}

@media only screen and (max-width: 768px) {
  .col-xs-1 {
    width: 8.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-xs-2 {
    width: 16.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-xs-3 {
    width: 25%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-xs-4 {
    width: 33.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-xs-5 {
    width: 41.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-xs-6 {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-xs-7 {
    width: 58.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-xs-8 {
    width: 66.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-xs-9 {
    width: 75%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-xs-10 {
    width: 83.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-xs-11 {
    width: 91.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-xs-12 {
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-sm-2 {
    width: 16.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-sm-3 {
    width: 25%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-sm-4 {
    width: 33.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-sm-5 {
    width: 41.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-sm-6 {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-sm-7 {
    width: 58.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-sm-8 {
    width: 66.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-sm-9 {
    width: 75%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-sm-10 {
    width: 83.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-sm-11 {
    width: 91.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-sm-12 {
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 992px) {
  .col-md-1 {
    width: 8.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-md-2 {
    width: 16.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-md-3 {
    width: 25%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-md-4 {
    width: 33.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-md-5 {
    width: 41.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-md-6 {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-md-7 {
    width: 58.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-md-8 {
    width: 66.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-md-9 {
    width: 75%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-md-10 {
    width: 83.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-md-11 {
    width: 91.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-md-12 {
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-lg-2 {
    width: 16.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-lg-3 {
    width: 25%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-lg-4 {
    width: 33.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-lg-5 {
    width: 41.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-lg-6 {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-lg-7 {
    width: 58.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-lg-8 {
    width: 66.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-lg-9 {
    width: 75%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-lg-10 {
    width: 83.33333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-lg-11 {
    width: 91.66667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .col-lg-12 {
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 768px) {
  .col-xs-offset-1 {
    margin-left: 8.33333%;
  }

  .col-xs-offset-2 {
    margin-left: 16.66667%;
  }

  .col-xs-offset-3 {
    margin-left: 25%;
  }

  .col-xs-offset-4 {
    margin-left: 33.33333%;
  }

  .col-xs-offset-5 {
    margin-left: 41.66667%;
  }

  .col-xs-offset-6 {
    margin-left: 50%;
  }

  .col-xs-offset-7 {
    margin-left: 58.33333%;
  }

  .col-xs-offset-8 {
    margin-left: 66.66667%;
  }

  .col-xs-offset-9 {
    margin-left: 75%;
  }

  .col-xs-offset-10 {
    margin-left: 83.33333%;
  }

  .col-xs-offset-11 {
    margin-left: 91.66667%;
  }

  .col-xs-offset-12 {
    margin-left: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
html {
  font-size: 62.5%;
  background-color: #eee;
}

img {
  max-width: 100%;
}

body {
  background-color: #eee;
}
body header .relation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
}
@media only screen and (max-width: 768px) {
  body header .relation {
    display: none;
  }
}
body header .relation span {
  font-size: 1rem;
  color: #29b078;
}
body header .relation .otherlink {
  width: 50%;
  overflow: hidden;
}
body header .relation .otherlink .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.9rem;
  float: right;
  margin-left: 1rem;
  border: 1px solid #29b078;
}
body header nav {
  background-color: #29b078;
  padding: 0 5%;
}
@media only screen and (max-width: 768px) {
  body header nav {
    padding: 0;
  }
  body header nav:hover ul {
    display: block;
  }
}
body header nav .nav-brand {
  padding: 10px 0;
}
@media only screen and (max-width: 768px) {
  body header nav .nav-brand {
    margin-left: 5%;
  }
}
body header nav .nav-tag {
  float: right;
  padding-bottom: 1px;
  line-height: 70px;
}
@media only screen and (max-width: 768px) {
  body header nav .nav-tag {
    display: none;
  }
}
body header nav .nav-tag .tag-item {
  padding: 0 .7rem 22.5px;
  font-size: 1.4rem;
  color: #fff;
}
body header nav .nav-tag .tag-item:hover {
  border-bottom: 5px solid #fff;
}
body header nav .collapsed {
  display: none;
}
@media only screen and (max-width: 768px) {
  body header nav .collapsed {
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 5%;
  }
}
body header nav .collapsed span {
  display: block;
  margin-top: 4px;
  width: 22px;
  height: 5px;
  border-radius: 1px;
  background-color: #888;
}
body header nav ul {
  display: none;
  border-top: 1px solid #fff;
  background-color: #29b078;
}
body header nav ul li {
  width: 100%;
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-align: center;
  color: #fff;
}
body main .faster {
  width: 100%;
}
body main .f-margin {
  margin-top: 20px;
  margin-bottom: 50px;
  overflow: hidden;
}
body main .f-margin .step1 {
  overflow: hidden;
}
body main .f-margin .step1 .f-table-margin {
  margin: 10px;
  margin-right: 0;
  margin-left: 0;
}
body main .f-margin .step1 .f-table-margin .s-sign-fontcolor {
  color: black;
}
body main .f-margin .step1 .f-table-margin .s-sign-fontcolor：visited {
  color: #29b078;
}
body main .f-margin .step2 {
  overflow: hidden;
}
body main .f-margin .step2 .out1 {
  padding-left: 0;
  padding-right: 0;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(34, 25, 25, 0.2);
}
@media only screen and (max-width: 768px) {
  body main .f-margin .step2 .out1 {
    box-shadow: none;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
  }
}
body main .f-margin .step2 .out1 .in1 {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccc99;
}
@media only screen and (max-width: 768px) {
  body main .f-margin .step2 .out1 .in1 {
    border-bottom: none;
  }
}
body main .f-margin .step2 .out1 .in1 span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
body main .f-margin .step2 .out1 .in2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
body main .f-margin .step2 .out1 .in2:hover .point {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f2a845;
}
body main .f-margin .step2 .out1 .in2:visited .point {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f2a845;
}
body main .f-margin .step2 .out1 .in2 .point {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid #f2a845;
}
body main .f-margin .step2 .out2 {
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(34, 25, 25, 0.2);
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  body main .f-margin .step2 .out2 {
    margin-left: 5%;
  }
}
body main .f-margin .step2 .out2 img {
  float: left;
}
body main .f-margin .step2 .out2 p {
  font-size: 1.8rem;
}
body footer {
  padding-top: 1%;
  background-color: #29b078;
}
body footer .container .row {
  overflow: hidden;
}
body footer .container .row .col-sm-4 .col-sm-12 img {
  padding: 15px 0;
}
@media only screen and (max-width: 768px) {
  body footer .container .row .col-sm-4 .col-sm-12 img {
    display: block;
    padding: 15px;
    padding-right: 0;
  }
}
body footer .container .row .col-sm-4 .col-sm-12 .jnshu {
  font-size: 1.8rem;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  body footer .container .row .col-sm-4 .col-sm-12 .jnshu {
    display: block;
    padding-top: 15px;
    padding-left: 15px;
    text-align: left;
  }
}
body footer .container .row .col-sm-4 .f-left {
  padding: 10% 15px;
}
@media only screen and (max-width: 768px) {
  body footer .container .row .col-sm-4 .f-left {
    padding: 15px;
    padding-right: 0;
    padding-bottom: 0;
  }
}
body footer .container .row .col-sm-4 .f-left .s-font {
  color: #fff;
}
body footer .container .row .col-sm-4 .f-middle {
  padding: 5% 15px 0;
}
@media only screen and (max-width: 768px) {
  body footer .container .row .col-sm-4 .f-middle {
    padding-top: 15px;
    padding-left: 15px;
  }
}
body footer .container .row .col-sm-4 .f-middle .s-font {
  color: #fff;
}
body footer .container .row .col-sm-4 .f-middle1 {
  padding: 5% 15px 0;
}
@media only screen and (max-width: 768px) {
  body footer .container .row .col-sm-4 .f-middle1 {
    padding-top: 15px;
    padding-left: 15px;
  }
}
body footer .container .row .col-sm-4 .f-middle1 .s-font {
  color: #fff;
}
body footer .brand {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #29b078;
  text-align: center;
  line-height: 2rem;
  color: #fff;
}

/*# sourceMappingURL=s2.css.map */
