* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.f-flex {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-flex1 {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.f-flex2 {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container .row {
    padding: 1% 0;
}
@media only screen and (max-width:768px) {
    header .container .row {
        padding: 0;
    }
    .s-white {
        text-align: center!important;
    }
}
.telephone {
    float: left;
    font-size: 1rem;
    line-height: 1.8rem;
    color: #29b078;
}
.icon {
    display: -webkit-flex;
    display: flex;
    margin-right: 1%;
    float: right;
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid #29b078;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
/*导航条*/
.s-green {
    background: #29b078;
}
@media only screen and (min-width:768px) {
    .navbar-nav {
        float: right;
    }
}
.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}
.logo {
    /*margin-bottom: 5px;*/
    height: 30px;
}
.navbar-nav ul li {
    text-align: center;
}
.navbar-nav li a {
    border-bottom: 5px solid transparent;
    color: white!important;
}

@media only screen and (min-width:768px) {
    .navbar-nav li a {
        border-bottom: 5px solid transparent;
        color: white!important;
    }
    .navbar-nav li a:hover {
        border-bottom: 5px solid #fff;
    }
}
.collapsed {
    border: none;
    outline: none;
}
/*小屏幕时登陆*/
.signin {
    display: none;
}
@media only screen and (max-width: 768px) {
    .signin {
        display: block;
        padding: 1% 0;
        line-height: 1rem;
        overflow: hidden;
    }
}
.signin a {
    float: right;
    margin-right: 1%;
    color: black!important;
}
.register {
    padding-right: 1%;
    border-right: 1px solid #29b078;
}
/*网页标签*/
.s-sign-fontcolor {
    color: #000;
}
.s-sign-fontcolor:visited {
    color: #29b078;
}
.f-sign-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}
/*导航*/
.nav ul {
    list-style:none;
}
.nav li {
    float:left;
}
.f-nav-title {
    line-height: 6rem;
    color: #888;
}
.f-nav-item {
    margin-left: 1.5rem;
    padding: 1.5rem;
    width: 6rem;
    line-height: 6rem;
    color: #000;
}
.f-nav-item:hover {
    background-color: #29b078;
    color: #fff;
}
main .nav {
    margin-bottom: 20px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}
/*前端开发方向*/
.f-border {
    border: 1px solid #888;
}
.f-margin {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
}
main h3 {
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #888;
}
.people {
    float:left;
    margin-right: 5px;
}
table,
tr,
td {
    border: 1px solid #888;
}
.people {
    margin: 10px 9px;
    border: 1px solid #888;
}
.f-block {
    display: block;
}
.f-margin-l {
    margin-left: 5px;
    margin-right: 5px;
}
.f-margin-a {
    margin: 5px;
    line-height: 3rem;
}
.f-margin-b {
    margin-bottom: 10px;
}
.shade {
    position: relative;
}
.f-shade h3 {
    text-align: center;
}
.f-shade {
    display: none;
    position: absolute;
    margin: 0;
    /*padding: 15px;*/
    width: 100%;
    height: 100%;
    z-index: 714;
    font-size: 2rem;
    color: #fff;
    background-color: rgba(0,0,0,0.8);
}
/*.f-shade>div{*/
    /*background-color: rgba(0,0,0,0.8);*/
    /*height:100%;*/
/*}*/
.shade:hover .f-shade {
    display: block;
    width: 100%;
}

.s-grey {
    color: #888;
}
.s-red {
    color: #ff0000;
}
.s-black {
    color: #000;
}










footer {
    padding-top: 1%;
    background-color: #29b078;
}
.f-left {
    padding: 10% 5%;
}
.jnshu {
    font-size: 1.8rem;
    color: #fff;
}
.s-font {
    color: #fff;
}
.f-middle {
    padding: 5%;
}
.s-img {
    width: 10.8rem;
    height: 10.8rem;
}

@media only screen and (max-width: 768px) {
    .jnshu,
    .s-font,
    .s-img {
        display: block;
        text-align: left;
    }
    .f-left {
        padding: 5px 15px;
    }
    .f-middle {
        padding: 5px 15px 0;
    }
    .f-middle1 {
        padding: 0 15px 5px;
    }
    .s-img {
        padding-top: 5px;
    }
    .jnshu {
        padding-top: 15px;
    }
}
.f-cm {
    margin: 0;
}
.brand {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,0.2);
    background-color: #29b078;
    text-align: center;
    line-height: 2rem;
    color: #fff;
}
