$blue: #34bede;
$grey: #b8b8b9;
$org: #ffa500;
@mixin flex ($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
@mixin tri {
  width: 0;
  height: 0;
  margin-left: 10%;
  border-top: 20px solid #b9e9f5;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
@mixin box ($height,$size,$color,$bgc) {
  @include flex (center);
  height: $height;
  font-size: $size;
  text-align: center;
  color: $color;
  background-color: $bgc;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
}
.wrap {
  background-color: $blue;
  header {
    position: fixed;
    width: 100%;
    z-index: 1024;
    .header-1 {
      @include flex (space-between);
      width: 100%;
      height: 4rem;
      background-color: $blue;
      .menu {
        padding: 0.5% 0;
      }
      p {
        margin: 0 auto;
        font-size: 2rem;
        line-height: 2rem;
        color: #fff;
      }
    }
    .header-2 {
      @include flex (space-between);
      width: 100%;
      background-color: #b9e9f5;
      p {
        margin-left: 10%;
        font-size: 1.5rem;
        line-height: 4.5rem;
      }
      .start {
        margin-right: 1%;
        background-color: #b9e9f5;
        border: none;
        outline: none;
      }
    }
    .header-3 {
      background-color: rgba(0,0,0,0);
      .triangle {
        @include tri;
      }
    }
  }
  main {
    padding-top: 8.5rem;
    p {
      margin-left: 8%;
      padding: 2rem;
      font-size: 1rem;
      color: #fff;
    }
    .blank {
      @include flex (space-around);
      .box {
        .player {
          width: 20vw;
          height: 20vw;
          border: 5px solid #fff;
          overflow: hidden;
          .identity {
            @include box (80%,1.5rem,#000,$org);
          }
          .number {
            @include box (20%,1rem,#fff,$grey);
          }
        }
        .id {
          width: 20vw;
          padding: 3% 0;
          text-align: center;
          .icon {
            opacity: 0;
            transition: .8s;
            -webkit-transition: .8s;
            -moz-transition: .8s;
            img {
              width: 20%;
            }
          }
        }
      }
      .box:hover .icon {
        opacity: 1;
      }
    }
    .clear {
      clear: both;
    }
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $blue;
    .die {
      display: block;
      margin: 3%;
      line-height: 6rem;
      font-size: 3rem;
      text-decoration:none;
      background-color: $org;
      text-align: center;
      color: #fff;
    }
  }
}