<div class="g-rt">
        <div class="g-in">
            <div class="g-hd-rt">
                <span class="f-icon-2">user</span>
                <span class="f-icon-1">猎头</span>
            </div>
            <div class="g-mn-up">
                <div class="g-mn-up1">
                    <span><b>发布时间</b></span>
                    <input type="text" placeholder="开始">
                    <span class="line"></span>
                    <input type="text" placeholder="结束">
                    <span><b>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型</b></span>
                    <select name="type" id="type">
                        <option value="0" style="display:none;">全部</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="g-mn-up2">
                    <span><b>状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态</b></span>
                    <select name="type" id="status">
                        <option value="0" style="display:none;">全部</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="g-mn-up3">
                    <button id="search" type="button">搜索</button>
                    <button id="clear" type="button">清除</button>
                    <div class="f-cb"></div>
                </div>
            </div>
            <div class="g-mn-down">
                <div class="g-down-title">
                    <span><b>Article列表</b></span>
                    <a href="#/newadd" id="add">新增</a>
                </div>
                <div class="g-down-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><b>&nbsp;&nbsp;ID</b></th>
                                    <th><b>名称</b></th>
                                    <th><b>类型</b></th>
                                    <th><b>发布时间</b></th>
                                    <th><b>修改时间</b></th>
                                    <th><b>发布者</b></th>
                                    <th><b>状态</b></th>
                                    <th><b>操作</b></th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

