<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/login.css"/>
    <title>老婆水站</title>
</head>
<body>
<div class="wrap" ng-app = "intoWife" ng-controller = "mine">
    <span>老婆水站</span>
    <input id="name" type="text" placeholder="&nbsp;&nbsp;请输入用户名" ng-model="name" maxlength="13" minlength="5" onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" ng-model="name">
    <input id="pwd" type="text" placeholder="&nbsp;&nbsp;请输入密码" ng-model="pwd" maxlength="13" minlength="5" onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))" ng-model="pwd">
    <p id="view"></p>
    <button id="signIn" type="button" ng-click="signIn()">进站</button>
</div>
<script src="../plugins/jquery-3.2.1.min.js"></script>
<script src="../plugins/angular-1.6.4/angular.js"></script>
<script src="../js/login.js"></script>
</body>
</html>