
<div class="g-rt">
        <div class="g-in">
            <div class="g-hd-rt">
                <span class="f-icon-2">user</span>
                <span class="f-icon-1">猎头</span>
            </div>
            <div class="g-mn">
                <div class="g-mn-title">
                    <span><b>新增Article</b></span>
                </div>
                <div class="g-mn-body">
                    <div class="column">
                        <span><b>标题名称</b></span>
                        <input type="text">
                    </div>
                    <div class="column">
                        <span><b>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型</b></span>
                        <select>
                            <option value="0" style="display:none;">&nbsp;&nbsp;请选择</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="column">
                        <span><b>说&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;明</b></span>
                        <input type="text">
                    </div>
                    <div class="column">
                        <span><b>跳转链接</b></span>
                        <input type="text">
                    </div>
                    <div class="column">
                        <span><b>配&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图</b></span>
                        <button id="choose" type="button">选择文件</button>
                    </div>
                    <div class="column">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th><b>图片名</b></th>
                                    <th><b>文件大小</b></th>
                                    <th><b>进度</b></th>
                                    <th><b>操作</b></th>
                                    <th><b>操作</b></th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="column">
                        <button id="online" type="button">立即上线</button>
                        <button id="save" type="button">存为草稿</button>
                        <button id="cancel" type="button"><b>返回</b></button>
                    </div>
                </div>
            </div>
        </div>
</div>
